img{
    width: 100%;
    cursor: pointer;
    height: 300px;
}
.caption{
    width: 80%;
    text-align: center;
    position: absolute;
    background:violet;
    bottom: 0;
    left: 10%;
}
.popUp{
    background-color: rgba(128, 128, 128, 0.288);
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}
.imgSlider{
    padding-inline: 10px;
    background-image: url(../img/p-1.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close{
    position: absolute;
     top:1%; 
     right: 1%;
     cursor: pointer;
}
.left,.right{
    cursor: pointer;
}